@import url('https://fonts.googleapis.com/css2?family=Cabin')

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: 'Cabin', sans-serif

nav
  position: relative
  z-index: 10
  @media (max-width: 1200px)
    height: 80px
  .desktop-nav
    display: flex
    justify-content: space-between
    align-items: center
    width: 60%
    height: 158px
    margin-left: 20%
    @media (max-width: 1600px)
      width: 80%
      margin-left: 10%
    @media (max-width: 1200px)
      display: none
    > a
      text-decoration: none
      font-size: 28px
      color: black
  .mobile-nav
    position: relative
    display: flex
    justify-content: flex-end
    align-items: center
    height: 80px
    @media (min-width: 1201px)
      display: none
    .hamburger
      width: 40px
      margin-right: 5%
      cursor: pointer
    .menu
      position: absolute
      display: none
      top: 80px
      width: 100vw
      padding: 5% 0
      border-top: 1px solid rgb(168, 168, 168)
      border-bottom: 1px solid rgb(168, 168, 168)
      background: white
      > a
        display: block
        padding: 5%
        text-align: right
        text-decoration: none
        font-size: 26px
        color: black

.active
  display: block !important

.bg-white
  background: white

.modal
  position: fixed
  z-index: 20
  top: 0
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.9)
  overflow: auto